# Macro to do a recursive search on a cross pattern to find a low point on the bed.
#  Typically run on a calibration plate, mounted on the bed, which has fiducial indentations
#
# Getting recursion to work under klipper is tricky.
# The code gets a bit weird, but most of it is likely to be necessary.
#

# this needs to be done in macros.
# There is a synchronization problem from regular gcode.
# on 3D prints there is a significant flat area near the bottom
# of the cones. Espessially with 10mm ball-tip probe, we
# get more meaningful data on the sides of the dimples.
# So, for the 150deg dimple plate, it might work better
# to start with a large step, and stop before the probes
# are dominated by slop and noise as opposed to actual probe height.
# Full list (below is shorter for faster testing runs)
#    [[0,0], [  0, 20],
#      [-20, 20],
#      [-20,  0],
#      [-20,-20],
#      [  0,-20],
#      [ 20,-20],
#      [ 20,  0],
#      [ 20, 20],
#      [ 40, 20],
#      [ 40, 40],
#      [ 20, 40],
#      [ 20, 60],
#      [  0, 60],
#      [  0, 40],
#      [-20, 40],
#      [-20, 60],
#      [-40, 40],
#      [-40, 20],
#      [-60, 20],
#      [-60,  0],
#      [-40,  0],
#      [-40,-20],
#      [-60,-20],
#      [-40,-40],
#      [-20,-40],
#      [-20,-60],
#      [  0,-60],
#      [  0,-40],
#      [ 20,-40],
#      [ 20,-60],
#      [ 40,-40],
#      [ 40,-20],
#      [ 60,-20],
#      [ 60,  0],
#      [ 40,  0],
#      [ 60, 20]]
# on printed cal plate, large ball seemed useful below .1mm x-y movement.
#    D2HW mostly useless below .25mm.  It was tracking layers, stair steps.  bottom was flat.
[gcode_macro PROBE_CAL_PLATE_A]
description: probe all dimples on initial 3D printed calibration plate
gcode:
    SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=stop VALUE=0.3
    SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=initial_step VALUE=2
    ; minimize travel between probes.  z offset more likely to stay above plate
    {% set pts = [[0,0],
      [-20, 20],
      [-20,-20],
      [ 20,-20],
      [ 20, 20],
      [ 40, 40],
      [ 20, 60],
      [  0, 40],
      [-20, 60],
      [-40, 40],
      [-60, 20],
      [-40,  0],
      [-60,-20],
      [-40,-40],
      [-20,-60],
      [  0,-40],
      [ 20,-60],
      [ 40,-40],
      [ 60,-20],
      [ 60, 20]] %}
    SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=dimple_list VALUE="{pts}"
    SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=dimple_index VALUE=0
    HOME
    G0 Z15 F6000
    _PROBE_NEXT_DIMPLE

# need fairly large step for shallow dimple
[gcode_macro _PROBE_NEXT_DIMPLE]
description: Internal -- dispatches the next probe in dimple_list, or finishes the scan
gcode:
    {% set s = printer["gcode_macro _CROSS_PROBE_STATE"] %}
    {% if s.dimple_index < s.dimple_list|length %}
        {% set step = s.initial_step %}
        {% set p = s.dimple_list[s.dimple_index] %}
        PROBE_FIDUCIAL X0={p[0]} Y0={p[1]} STEP={step}
    {% else %}
        PFLOG MSG="Calibration plate scan complete"
        G0 Z15 F6000
        G0 X0 Y0
	HOMEPOS
        MOTORS_OFF
    {% endif %}

[gcode_macro PFLOG]
description: provides PROBE_FIDUCIAL prefix for generic timestamped logger
gcode:
    {% set prefix = params.PREFIX|default("PROBE_FIDUCIAL") %}
    {% set msg = params.MSG|default("") %}
    TLOG PREFIX="{prefix}" MSG="{msg}"

[gcode_macro PROBE_FIDUCIAL]
description: Recursively search around X0,Y0 for the local Z minimum (dimple center).
     Move to desired Z height before calling.
     Call with X0, Y0, STEP -- leave Z0..Z4 unset, they are managed internally.
gcode:
    {% set X0 = params.X0|float %}
    {% set Y0 = params.Y0|float %}
    {% set STEP = params.STEP|default(1)|float %}
    {% set Z0 = params.Z0|default(-99)|float %}
    {% set Z1 = params.Z1|default(-99)|float %}
    {% set Z2 = params.Z2|default(-99)|float %}
    {% set Z3 = params.Z3|default(-99)|float %}
    {% set Z4 = params.Z4|default(-99)|float %}
    
    {% if Z0 == -99 %}
        ; this is the first call on this fiducial.
        PFLOG_POS
        G1 X{X0} Y{Y0} F900
	PROBE
        _CROSS_PROBE_SET INDEX=0
        PFLOG_POS
    {% else %}
        _CROSS_PROBE_SET INDEX=0 VAL={Z0}
    {% endif %}
    PFLOG MSG="{' [%.3f, %.3f] STEP=%.3f' % (X0,Y0,STEP)}"

    {% if Z1 == -99 %}
        G1 X{X0 + STEP} Y{Y0}
	PROBE
        _CROSS_PROBE_SET INDEX=1
        PFLOG_POS
    {% else %}
        _CROSS_PROBE_SET INDEX=1 VAL={Z1}
    {% endif %}
    
    {% if Z2 == -99 %}
        G1 X{X0} Y{Y0 + STEP }
	PROBE
        _CROSS_PROBE_SET INDEX=2
        PFLOG_POS
    {% else %}
        _CROSS_PROBE_SET INDEX=2 VAL={Z2}
    {% endif %}
    
    {% if Z3 == -99 %}
        G1 X{X0 - STEP} Y{Y0}
	PROBE
        _CROSS_PROBE_SET INDEX=3
        PFLOG_POS
    {% else %}
        _CROSS_PROBE_SET INDEX=3 VAL={Z3}
    {% endif %}

    {% if Z4 == -99 %}
        G1 X{X0} Y{Y0 - STEP}
	PROBE
        _CROSS_PROBE_SET INDEX=4
        PFLOG_POS
    {% else %}
        _CROSS_PROBE_SET INDEX=4 VAL={Z4}
    {% endif %}

    PROBE_FIDUCIAL_NEXT X0={X0} Y0={Y0} STEP={STEP}

# Stashes the next call and schedules the delayed_gcode to make recursive call.
# This seems to be a necessary move to allow recursion in a macro.
[gcode_macro PROBE_FIDUCIAL_NEXT]
description: Internal -- spawn cross refinement after fully probed
gcode:
    {% set X0 = params.X0|float %}
    {% set Y0 = params.Y0|float %}
    {% set STEP = params.STEP|float %}
    {% set s = printer["gcode_macro _CROSS_PROBE_STATE"] %}
    {% set z0 = s.latest_probe_z0 %}
    {% set z1 = s.latest_probe_z1 %}
    {% set z2 = s.latest_probe_z2 %}
    {% set z3 = s.latest_probe_z3 %}
    {% set z4 = s.latest_probe_z4 %}
    {% set minz = [z0, z1, z2, z3, z4]|min %}

    G0 Z{minz + 8} F900
    {% if STEP < s.stop %}
	PFLOG MSG="{'converged=[%.3f, %.3f, %.3f], step=%.3f' % (X0,Y0,z0,STEP)}"
	PROBE_NEIGHBORHOOD X0={X0} Y0={Y0}
	REL Z=8 F=3000
	G4 P500
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=dimple_index VALUE={s.dimple_index + 1}
        UPDATE_DELAYED_GCODE ID=_NEXT_DIMPLE_KICK DURATION=0.1
    {% elif z0 == minz %}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP / 2}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE=-99
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% elif z1 == minz %}
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0 + STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z1}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE={z0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE=-99
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% elif z2 == minz %}
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0 + STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z2}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE={z0}
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% elif z3 == minz %}
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0 - STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z3}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE={z0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE=-99
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% elif z4 == minz %}
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0 - STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z4}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE={z0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE=-99
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% else %}
        RESPOND PREFIX="PROBE_FIDUCIAL ERROR" MSG="should always have one point on cross == min"
    {% endif %}

[delayed_gcode _NEXT_DIMPLE_KICK]
gcode:
    _PROBE_NEXT_DIMPLE

# variable to hold probe values for a cross pattern,
#   like:     2
#           3 0 1
#             4
[gcode_macro _CROSS_PROBE_STATE]
description: Internal -- holds persistent scratch variables only, never called directly.
variable_latest_probe_z0: 0
variable_latest_probe_z1: 0
variable_latest_probe_z2: 0
variable_latest_probe_z3: 0
variable_latest_probe_z4: 0
variable_stop: 0.3
variable_initial_step: 2
variable_next_x0: 0
variable_next_y0: 0
variable_next_step: 0
variable_next_z0: -99
variable_next_z1: -99
variable_next_z2: -99
variable_next_z3: -99
variable_next_z4: -99
variable_dimple_list: []
variable_dimple_index: 0
gcode:
    RESPOND PREFIX="PROBE_FIDUCIAL" MSG="_CROSS_PROBE_STATE should not be run directly"


[gcode_macro PROBE_NEIGHBOORHOOD]
description: Do some probes near the given center
       Mostly to get some symetric probes along the walls of a dimple
       to get a better estimate of true vertex
gcode:
    {% set X0 = params.X0|float %}
    {% set Y0 = params.Y0|float %}
    {% set Z0 = params.Z0|float %}

    G0 Z{Z0+4} F2000
    PROBEZ X={X0+2} Y={Y0+2}
    PROBEZ X={X0+2} Y={Y0-2}
    PROBEZ X={X0-2} Y={Y0-2}
    PROBEZ X={X0-2} Y={Y0+2}
    PROBEZ X={X0} Y={Y0+3}
    PROBEZ Y={Y0} X={X0+3}
    PROBEZ X={X0} Y={Y0-3}
    PROBEZ Y={Y0} X={X0-3}

# This needs to be a seperate macro from the parent, which calls PROBE
# This is necessary to synchronize, and make sure PROBE is complete before
# retrieving the value
[gcode_macro _CROSS_PROBE_SET]
description: Internal -- stashes printer.probe.last_z_result into latest_probe_zN.
gcode:
    {% set idx = params.INDEX|int %}
    {% set val = params.VAL|default(-99)|float %}
    {% set zoff = printer.configfile.settings.probe.z_offset %}
    {% if val == -99 %}
        ;z = printer.probe.last_z_result + zOff ???
        {% set z = printer.probe.last_z_result %}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=latest_probe_z{idx} VALUE={z}
        G0 Z{z + 5} F800
    {% else %}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=latest_probe_z{idx} VALUE={val}
    {% endif %}


[gcode_macro PFLOG_POS]
description: log current toolhead position
gcode:
    LOG_POSITION PREFIX="PROBE_FIDUCIAL"

# Internal only - calls PROBE_FIDUCIAL from stashed parameters
[delayed_gcode _PROBE_FIDUCIAL_KICK]
gcode:
    {% set s = printer["gcode_macro _CROSS_PROBE_STATE"] %}
    PROBE_FIDUCIAL X0={s.next_x0} Y0={s.next_y0} STEP={s.next_step} Z0={s.next_z0} Z1={s.next_z1} Z2={s.next_z2} Z3={s.next_z3} Z4={s.next_z4}
