# $Id: printer.cfg,v 1.7 2026/05/14 21:07:36 aaron Exp aaron $
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# This setup is for the experimental tetrahedral 3D printer,
# which uses the tilted_delta kinematic model, available at:
#
#    https://github.com/Mr-What/klipper/tree/tilted-delta-kinematics-dev
#
# The master of this project is intended to track the master at
# https://github.com/Klipper3d/klipper
# The deviation from the official klipper master is tracked in the
# tilted-delta-kinematics-dev  branch of https://github.com/Mr-What/klipper
#
# calibration tools and drawings are in the Tetra3D project:
# https://github.com/Mr-What/Tetra3D

[printer]
kinematics: tilted_delta
max_velocity: 300  # mm/s
max_accel: 800
max_z_velocity: 300
max_z_accel: 800
print_radius: 80
delta_angles: 209.786905 , 330.137181 , 89.931451 # 209.974588 , 330.021731 , 89.763974 # 209.95, 330.006, 89.883
delta_radius: 169.494942 , 169.295282 , 169.227717 # 169.732422 , 169.864536 , 169.202527 # 170.485719 , 170.156831 , 169.891359 #169.343, 169.144, 169.144
arm_lengths: 286.042052 , 285.973425 , 286.033154
tilt_radial: 13.775491 , 12.525614 , 12.782557 # 13.771, 12.513, 12.777 # 12.479, 13.003, 13.609
tilt_tangential: 0.031834 , -0.346611 , 0.705373 #  -0.0185, 0.7593, 0.018055
#z_offset: -1.0 # actual Z distance when bed probe triggers (mm)  I think this may be z_offset in [probe] section
minimum_z_position: -15   # not used in kinematics, but needs to be negative for bed probes, which can be negative Z


[stepper_a]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
# try to have endstops NC, so that they fail triggered, no motion
# if they are wired NO, when a wire comes off, they could crash
endstop_pin: PC0
position_min: 113
position_endstop: 480.6331 # 480.7808 # 478.760 #479.7133 #471.65
#position_max: 477   # slightly above position_endstop
homing_speed: 20   # mm/s
second_homing_speed: 5
homing_retract_dist: 5
homing_retract_speed: 5

[stepper_b]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: PC1
position_min: 112
position_endstop: 476.6369 # 476.7404 # 477.338 #476.9836 #474.29
#position_max: 474    # slightly above position_endstop
homing_speed: 20   # mm/s
second_homing_speed: 5
homing_retract_dist: 5
homing_retract_speed: 5

[stepper_c]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
endstop_pin: PC2
position_min: 114
position_endstop: 477.1533 # 477.2648 # 478.242 #479.6046 #477.16
#position_max: 482
homing_speed: 20   # mm/s
second_homing_speed: 5
homing_retract_dist: 5
homing_retract_speed: 5

######################################### for simple microswitch probe
#[probe]
#pin: ^PC14 # normally closed
#x_offset: 0.0
#y_offset: 0.0 # -10.0 # est magnet mounted switch
##z_offset: -1.7 # est mag mounted switch, initial cal, ~probe46
##z_offset: -2.2  # measured. by manual probe. nozzle on machined 9.6mm block, vs switch
###z_offset: -2.236  # different median Z between switch and hot-end probe
##z_offset: # extra Z to pop kinematic mount -0.365
##z_offset: 0.1 # estimated/measured between nozzle and light probe
#z_offset: 0.6 # new probe trigger - nozzle catches paper 260820
#speed: 2.0
#lift_speed: 4.0
#samples: 4
#sample_retract_dist: 3.0
#samples_result: median # median, average, min or max
#samples_tolerance: 0.07  # allowed range
#samples_tolerance_retries: 7  # how many times to try before failing

##################################################################
## config for BTT MicroProbe V2, with retractable steel plunger
[output_pin probe_enable]
pin: PA1        # control pin — SKR Mini E3 V2.0 BLTouch header
value: 0        # 0 = retracted by default

[gcode_macro PROBE_DOWN]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[gcode_macro PROBE_UP]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

[probe]
pin: ^!PC14                    # sensor pin, V2 = active low
deactivate_on_each_sample: False   # <-- the critical line for this probe
x_offset: 0                  # measure your actual mount offset
y_offset: 0
z_offset: 0                    # PROBE_CALIBRATE will set this properly
speed: 5.0
samples: 4
samples_tolerance: 0.05
samples_tolerance_retries: 7
samples_result: median # median, average, min or max
activate_gcode:
    PROBE_DOWN
    G4 P500                    # give the arm time to deploy
deactivate_gcode:
    PROBE_UP

[tmc2209 stepper_a]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.5 # 0.580
stealthchop_threshold: 999999

[tmc2209 stepper_b]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.4  # 0.580
stealthchop_threshold: 999999

[tmc2209 stepper_c]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.4 # 0.580
stealthchop_threshold: 999999

#[delta_calibrate]
#radius: 80

# put this back when we hook up bowden extruder
[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 6.633  # gearhead rotation << motor rotation
nozzle_diameter: 0.4 # 0.2
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 500
min_extrude_temp: 160
#max_extrude_temp: 275
max_extrude_only_distance: 200
max_extrude_only_velocity: 40
max_extrude_only_accel: 1000
max_extrude_cross_section: 2 # 1.0

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.6 # typical is 0.6 to 0.9
stealthchop_threshold: 30
sense_resistor: 0.11  # guess at .11 Ohm sense for 2209 on most BTT boards
hold_current: 0.5
interpolate: True


# uncomment if/when we get a heated bed
#[heater_bed]
#heater_pin: PC9
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PC3
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
#min_temp: -200
#max_temp: 3130

[gcode_arcs]
resolution: 0.5 # mm

[heater_fan extruder_fan] # hot end fan
pin: PC6
heater: extruder
heater_temp: 40
kick_start_time: 1

[fan] # part fan
pin: PC7
kick_start_time: 0.5


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_30FFDA054754343040811557-if00
# serial: /dev/ttyACM0

[force_move]
enable_force_move: True

[static_digital_output usb_pullup_enable]
pins: !PA14

[verify_heater extruder]
max_error: 999999
check_gain_time: 999999
hysteresis: 999999

#[verify_heater heater_bed]
#max_error: 999999
#check_gain_time: 999999
#hysteresis: 999999


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[include mainsail.cfg]
[include tetraMacros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh p61]
#*# version = 1
#*# points =
#*# 	-0.056982, 0.021871, 0.090157, 0.110731, 0.079433, 0.027498, 0.005350
#*# 	-0.002297, 0.075539, 0.126555, 0.143590, 0.093309, 0.057918, -0.001484
#*# 	0.038594, 0.093767, 0.133403, 0.140577, 0.068648, 0.008942, 0.001074
#*# 	0.085130, 0.140658, 0.143628, 0.115862, 0.072143, 0.021712, 0.032527
#*# 	0.083199, 0.089324, 0.077648, 0.043373, 0.015828, 0.012417, 0.027531
#*# 	0.067072, 0.068781, 0.029356, -0.000230, 0.003751, 0.019725, 0.064282
#*# 	0.033702, -0.020666, -0.029933, -0.026538, -0.002497, 0.001457, 0.039311
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.1
#*# min_x = -50.0
#*# max_x = 49.96000000000001
#*# min_y = -50.0
#*# max_y = 49.959999999999994
#*#
#*# [bed_mesh p63]
#*# version = 1
#*# points =
#*# 	  0.088935, 0.046211, 0.049631, 0.127185, 0.096680, 0.059481, 0.028946
#*# 	  0.011248, -0.002515, 0.040891, 0.075312, 0.062997, 0.032215, -0.004998
#*# 	  -0.013428, -0.040223, -0.013452, 0.021938, -0.006000, -0.043822, -0.035342
#*# 	  0.020075, 0.016040, 0.031746, 0.023731, -0.037705, -0.009204, 0.007937
#*# 	  0.032191, -0.017964, -0.024051, -0.079191, -0.065118, -0.015207, 0.019154
#*# 	  0.151437, 0.009026, -0.065267, -0.102081, -0.094003, -0.054397, -0.000996
#*# 	  0.040143, -0.115338, -0.166575, -0.127043, -0.073180, -0.027544, 0.011933
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.1
#*# min_x = -60.0
#*# max_x = 60.0
#*# min_y = -60.0
#*# max_y = 60.0
