# Macro to do a recursive search on a cross pattern to find a low point on the bed.
#  Typically run on a calibration plate, mounted on the bed, which has fiducial indentations
#
# Getting recursion to work under klipper is tricky.
# The code gets a bit weird, but most of it is likely to be necessary.
#

[gcode_macro PROBE_FIDUCIAL]
description: Recursively search around X0,Y0 for the local Z minimum (dimple center).
     Move to desired Z height before calling.
     Call with X0, Y0, STEP -- leave Z0..Z4 unset, they are managed internally.
gcode:
    {% set X0 = params.X0|float %}
    {% set Y0 = params.Y0|float %}
    {% set STEP = params.STEP|default(2)|float %}
    {% set Z0 = params.Z0|default(-99)|float %}
    {% set Z1 = params.Z1|default(-99)|float %}
    {% set Z2 = params.Z2|default(-99)|float %}
    {% set Z3 = params.Z3|default(-99)|float %}
    {% set Z4 = params.Z4|default(-99)|float %}

    GET_POSITION
    {% if Z0 == -99 %}
        G1 X{X0} Y{Y0} F900
	PROBE
        LOG_POSITION LABEL="PROBE_FIDUCIAL:"
        _CROSS_PROBE_SET INDEX=0
    {% else %}
        _CROSS_PROBE_SET INDEX=0 VAL={Z0}
    {% endif %}

    {% if Z1 == -99 %}
        ;G1 Z{Z0 + 5} F600
        G1 X{X0 + STEP} Y{Y0}
	PROBE
        LOG_POSITION LABEL="PROBE_FIDUCIAL:"
        _CROSS_PROBE_SET INDEX=1
    {% else %}
        _CROSS_PROBE_SET INDEX=1 VAL={Z1}
    {% endif %}
    
    {% if Z2 == -99 %}
        ;G1 Z{Z0 + 5} F600
        G1 X{X0} Y{Y0 + STEP }
	PROBE
        LOG_POSITION LABEL="PROBE_FIDUCIAL:"
        _CROSS_PROBE_SET INDEX=2
    {% else %}
        _CROSS_PROBE_SET INDEX=2 VAL={Z2}
    {% endif %}
    
    {% if Z3 == -99 %}
        ;G1 Z{Z0 + 5} F600
        G1 X{X0 - STEP} Y{Y0}
	PROBE
        LOG_POSITION LABEL="PROBE_FIDUCIAL:"
        _CROSS_PROBE_SET INDEX=3
    {% else %}
        _CROSS_PROBE_SET INDEX=3 VAL={Z3}
    {% endif %}

    {% if Z4 == -99 %}
        ;G1 Z{Z0 + 5} F600
        G1 X{X0} Y{Y0 - STEP}
	PROBE
        LOG_POSITION LABEL="PROBE_FIDUCIAL:"
        _CROSS_PROBE_SET INDEX=4
    {% else %}
        _CROSS_PROBE_SET INDEX=4 VAL={Z4}
    {% endif %}

    PROBE_FIDUCIAL_NEXT X0={X0} Y0={Y0} STEP={STEP}

# Internal only - calls PROBE_FIDUCIAL from stashed parameters
[delayed_gcode _PROBE_FIDUCIAL_KICK]
gcode:
    {% set s = printer["gcode_macro _CROSS_PROBE_STATE"] %}
    PROBE_FIDUCIAL X0={s.next_x0} Y0={s.next_y0} STEP={s.next_step} Z0={s.next_z0} Z1={s.next_z1} Z2={s.next_z2} Z3={s.next_z3} Z4={s.next_z4}

# Stashes the next call and schedules the delayed_gcode to make recursive call.
# This seems to be a necessary move to allow recursion in a macro.
[gcode_macro PROBE_FIDUCIAL_NEXT]
description: Internal -- spawn cross refinement after fully probed
gcode:
    {% set X0 = params.X0|float %}
    {% set Y0 = params.Y0|float %}
    {% set STEP = params.STEP|float %}
    {% set s = printer["gcode_macro _CROSS_PROBE_STATE"] %}
    {% set z0 = s.latest_probe_z0 %}
    {% set z1 = s.latest_probe_z1 %}
    {% set z2 = s.latest_probe_z2 %}
    {% set z3 = s.latest_probe_z3 %}
    {% set z4 = s.latest_probe_z4 %}
    {% set minz = [z0, z1, z2, z3, z4]|min %}
    G0 Z{minz + 8} F900
    {% if STEP < 0.1 %}
        ;RESPOND PREFIX="PROBE_FIDUCIAL" MSG="converged: X={'%.3f' % X0}; Y={'%.3f' % Y0}; Z={'%.3f' % z0}; step={'%.4f' % STEP};"
	{action_respond_info("PROBE_FIDUCUAL converged=[%.3f, %.3f, %.3f]; step=%.3f;" % (X0,Y0,z0,STEP))}
    {% elif z0 == minz %}
        ;PROBE_FIDUCIAL X0={X0} Y0={Y0} Z0={z0} STEP={STEP / 2}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP / 2}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE=-99
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% elif z1 == minz %}
        ;PROBE_FIDUCIAL1 X0={X0 + STEP} Y0={Y0} STEP={STEP} Z0={z1} Z3={z0}
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0 + STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z1}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE={z0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE=-99
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% elif z2 == minz %}
        ;PROBE_FIDUCIAL1 X0={X0} Y0={Y0 + STEP} STEP={STEP} Z0={z2} Z4={z0}
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0 + STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z2}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE={z0}
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% elif z3 == minz %}
        ;PROBE_FIDUCIAL1 X0={X0 - STEP} Y0={Y0} STEP={STEP} Z0={z3} Z1={z0}
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0 - STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z3}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE={z0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE=-99
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% elif z4 == minz %}
        ;PROBE_FIDUCIAL1 X0={X0} Y0={Y0 - STEP} STEP={STEP} Z0={z4} Z2={z0}
	SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_x0 VALUE={X0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_y0 VALUE={Y0 - STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_step VALUE={STEP}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z0 VALUE={z4}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z1 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z2 VALUE={z0}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z3 VALUE=-99
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=next_z4 VALUE=-99
        UPDATE_DELAYED_GCODE ID=_PROBE_FIDUCIAL_KICK DURATION=0.1
    {% else %}
        RESPOND PREFIX="PROBE_FIDUCIAL ERROR" MSG="should always have one point on cross == min"
    {% endif %}

# variable to hold probe values for a cross pattern,
#   like:     2
#           3 0 1
#             4
[gcode_macro _CROSS_PROBE_STATE]
description: Internal -- holds persistent scratch variables only, never called directly.
variable_latest_probe_z0: 0
variable_latest_probe_z1: 0
variable_latest_probe_z2: 0
variable_latest_probe_z3: 0
variable_latest_probe_z4: 0
variable_next_x0: 0
variable_next_y0: 0
variable_next_step: 0
variable_next_z0: -99
variable_next_z1: -99
variable_next_z2: -99
variable_next_z3: -99
variable_next_z4: -99
gcode:
    RESPOND PREFIX="PROBE_FIDUCIAL" MSG="_CROSS_PROBE_STATE should not be run directly"

# This needs to be a seperate macro from the parent, which calls PROBE
# This is necessary to synchronize, and make sure PROBE is complete before
# retrieving the value
[gcode_macro _CROSS_PROBE_SET]
description: Internal -- stashes printer.probe.last_z_result into latest_probe_zN.
gcode:
    {% set idx = params.INDEX|int %}
    {% set val = params.VAL|default(-99)|float %}
    {% set zoff = printer.configfile.settings.probe.z_offset %}
    {% if val == -99 %}
        ;z = printer.probe.last_z_result + zOff ???
        {% set z = printer.probe.last_z_result %}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=latest_probe_z{idx} VALUE={z}
        G0 Z{z + 5} F800
    {% else %}
        SET_GCODE_VARIABLE MACRO=_CROSS_PROBE_STATE VARIABLE=latest_probe_z{idx} VALUE={val}
    {% endif %}
