# $Id: printer.cfg,v 1.7 2026/05/14 21:07:36 aaron Exp aaron $
# tetra printer prototype probe definition, on
#     BIGTREETECH SKR mini E3 v2.0
#
###   Mellow MultiHead Zero

[probe]
# z_offset is  <probe trigger> - <nozzle catches paper>
# z_offset: 1.9055 # 260906 ?!?? really?
# z_offset: -.5 # 260910 nozzle holds paper at 0.55, probne at 0.0551
# z_offset: 2.35 # for probe68 nozzle touch 0.68, probe trigger 3.0305
# z_offset: 2.1  # after restart after probe68
#z_offset: 1.875  # after cal updated from probe69
z_offset: 1.97  # recheck after probe74
x_offset: 0
y_offset: 0 # -10.0 # est magnet mounted switch
pin: ^PC14 # normally closed
speed: 3 # mm/s
lift_speed: 8 # mm/s
samples: 4
sample_retract_dist: 3.0 # must be greater than probe stroke
samples_result: median # median, average, min or max
samples_tolerance: 0.07  # allowed range
samples_tolerance_retries: 7  # how many times to try before failing
