[gcode_macro MOTORS_OFF]
gcode:
    M84

[gcode_macro REL]
description: Change to relative mode, do requested move, then back to absolute if we were in absolute
gcode:
    {% set x = params.X|default(0)|float %}
    {% set y = params.Y|default(0)|float %}
    {% set z = params.Z|default(5)|float %}
    {% set f = params.F|default(600)|float %}
    
    {% set was_relative = printer.gcode_move.relative_coordinates %}
    G91
    G1 X{x} Y{y} Z{z} F{f}
    {% if not was_relative %}
    G90
    {% endif %}

[gcode_macro HOMEPOS]
description: Go to default rest position (0,0,150)
gcode:
    G0 X0 Y0 Z150 F5000

[gcode_macro HOME]
description: Home (G28) then go to (0,0,150)
gcode:
    G28
    GET_POSITION
    ;G1 X0 Y0 Z150 F800
    HOMEPOS
    GET_POSITION  ; for some reason, kinematic is behind here.  AI is halucinating wrong answers when I ask it to explain
    G4 P1500  ; pause, ms
    GET_POSITION

[gcode_macro SHOW_OFFSET]
description: Show the probe offset setting
gcode:
    #{% set xo = printer.probe.x_offset %}
    #{% set yo = printer.probe.y_offset %}
    #{% set zo = printer.probe.z_offset %}
    #RESPOND TYPE=echo MSG="Probe offset : {xo} {yo} {zo}"
    RESPOND TYPE=echo MSG='{"Probe offset : %g %g %.3f" % (printer.probe.x_offset, printer.probe.y_offset, printer.probe.z_offset)}'

# not necessary.  part of power drop-dowm menu
#[gcode_macro REINIT]  ; macro for RESTART, so I can make buttons
#description: Alias for RESTART
#gcode:
#    RESTART

#[gcode_macro RESET]
#description: Alias for FIRMWARE_RESTART
#gcode:
#    FIRMWARE_RESTART
    
### small macros for tetra group buttone
[gcode_macro WEEDOWN]
gcode:
    REL Z=-0.02 F=300
    QUERY_PROBE

[gcode_macro WEEUP]
gcode:
    REL Z=0.02 F=300
    QUERY_PROBE

[gcode_macro SHOW_POS]
gcode:
    GET_POSITION

[gcode_macro SHOW_PROBE]
gcode:
    QUERY_PROBE

[gcode_macro SHOW_ENDSTOPS]
gcode:
    QUERY_ENDSTOPS

[gcode_macro RELOAD]
gcode:
    FIRMWARE_RESTART

[gcode_macro CLEAR_NOZZLE]
description: Wipe nozzle by 3 towers to prime and clear
gcode:
    {% set t = params.T|default(200)|float %}
    G90 ; absolute positions
    G21 ; mm
    G92 E0 ; set current extruder position to 0
    M83 ; relative position extrusion mode
    G92 E0 ; set current extruder position to 0
    M84 ; motor off
    M105 ; part fan off
    M118 Make sure effector is over center of bed!!!
    M118 Heating...
    M109 S{t} ; set extruder temp, and wait
    HOME
    G1 E6 F300
    G4 P3000 ; pause to allow user to wipe nozzle if desired
    ; -- Delta startup pattern, 90mm radius
    G0 X-42.5 Y-79.3 Z5 F6000
    G4 P500
    G1 Z0.25 E3 F600
    G4 P500
    G2 X-89.0 Y2.8 I42.5 J79.3 E7 F1200
    G3 X-49.9 Y-72.5 I89.0 J-2.8 E7
    G1 Z5 E-5
    G4 P400
    G0 X42.5 Y-79.3 Z5 F6000
    G4 P400
    G1 Z0.1 E6 F600
    G0 Z0.25
    G3 X89.0 Y2.8 I-42.5 J79.3 E7 F1200
    G2 X49.9 Y-72.5 I-89.0 J-2.8 E7
    G1 Z5 E-5
    G4 P300
    G0 X-47.5 Y76.5 Z5 F6000
    G4 P300
    G1 Z0.1 E6 F600
    G0 Z0.25
    G2 X46.9 Y75.6 I47.5 J-76.5 E7 F1200
    G3 X0 Y89 I-46.9 J-75.6 E2
    G1 X-1 Y89 Z0.1
    G1 X-3 Y88 Z0.2 E1
    G0 X-5 Y87 Z1
    G0 X-6 Y87 Z0.1
    G0 X-1 Y88.5 Z0.25
    G3 X-37.8 Y78 I1 J-88
    G1 Z5 E-5
    G4 P500
    G0 X0 Y0 Z10 E6 F6000
    M82 ; absolute E, most slicers assume use absolute E

[bed_mesh]
speed: 60
horizontal_move_z: 5
mesh_min: -60, -60       # probe coordinates near front‑left
mesh_max:  60,  60       # probe coordinates near back‑right
probe_count: 7, 7        # grid resolution (X,Y)
mesh_pps: 3, 3           # interpolation density
algorithm: bicubic       # or lagrange
bicubic_tension: 0.1
fade_start: 1
fade_end: 10

[gcode_macro USER_VARS]
variable_probez_z: 5.0    # default height before probe
variable_probez_f: 1500.0  # default move rate, mm/min, between probes
gcode:

[gcode_macro PROBEZ]
description: move to [X,Y], PROBE, then move up Z, default from USER_VARS
gcode:
    {% set uv = printer["gcode_macro USER_VARS"] %}
    {% set x = params.X|default(0)|float %}
    {% set y = params.Y|default(0)|float %}
    {% set z = params.Z|default(uv.probez_z)|float %}
    {% set f = params.F|default(uv.probez_f)|float %}
    #QUERY_PROBE
    G1 X{x} Y{y} F{f}
    #QUERY_PROBE
    PROBE
    #QUERY_PROBE
    #G4 P300
    #GET_POSITION
    REL Z={z} F={f}
    G4 P300
    #QUERY_PROBE

[gcode_macro PURGE_ARC]
description: Helper, to draw an arc pair for PURGE_NOZZLE
gcode:
  {% set R     = (params.R    |default(115))  |float %}
  {% set FARC  = (params.FARC |default(2000)) |float %}
  {% set EARC  = (params.EARC |default(5))   |float %}
  {% set DARC  = (params.DARC |default(0.998))|float %}  # frac to move in for second sweep
  {% set ZHOP  = 5   %}
  {% set XA = params.XA|float %}
  {% set YA = params.YA|float %}

  # compute start and end points at radius R
  {% set SGN = (1 if YA > 0 else -1) %}
  {% set SA = 0.21 %}  # sin of wipe angle from tower
  {% set CA = 0.9777014 %} #cos
  {% set X0 = R * (CA*XA - SA*YA*SGN) %}
  {% set Y0 = R * (CA*YA + SA*XA*SGN) %}
  {% set X1 = R * (CA*XA + SA*YA*SGN) %}
  {% set Y1 = R * (CA*YA - SA*XA*SGN) %}
  {% set XT = R*XA %} # close to tower
  {% set YT = R*YA %}
  {% set ZCROSS = X0 * Y1 - Y0 * X1 %}
  
  ; move to start point at hop height
  #RESPOND TYPE=echo MSG="G0 X{X0} Y{Y0} Z{ZHOP} F8000"
  G0 X{X0} Y{Y0} Z{ZHOP} F8000
  G0 E3 F600
  PROBE
  REL Z=2.3  #.3
  GET_POSITION
  
  ; first arc: from (X0,Y0) to (X1,Y1), center at (0,0)
  {% set XC = -X0 %}
  {% set YC = -Y0 %}
  RESPOND TYPE=echo MSG="G2/3 X{X1} Y{Y1} I{XC} J{YC} E{EARC} F{FARC}"
  {%if ZCROSS < 0 %}
    G2 X{X1} Y{Y1} Z.1 I{XC} J{YC} E{EARC} F{FARC}
  {% else %}
    G3 X{X1} Y{Y1} Z.1 I{XC} J{YC} E{EARC} F{FARC}
  {% endif %}
  GET_POSITION
  
  REL Z=3  # teporary, to deal with clogged nozzle issue
  G0 E-4 F1200
  G0 E6 F600

  ; move slightly inward for the second sweep
  {% set X1 = DARC * X1 %}
  {% set Y1 = DARC * Y1 %}
  G1 X{X1} Y{Y1} Z.2 F300

  {% set X0 = DARC * XT %}
  {% set Y0 = DARC * YT %}
  {% set XC = -X1 %}
  {% set YC = -Y1 %}

  ; second arc back toward tower centered at (0,0), just wipe
  #RESPOND TYPE=echo MSG="G3 X{X0} Y{Y0} I{XC} J{YC} F{FARC}"
  GET_POSITION
  {% if ZCROSS < 0 %}
    G3 X{X0} Y{Y0} I{XC} J{YC} E1 F{FARC}
  {% else %}
    G2 X{X0} Y{Y0} I{XC} J{YC} E1 F{FARC}
  {% endif %}
  GET_POSITION
  G0 Z{ZHOP} E-3 F3000


[gcode_macro PURGE_NOZZLE]
description: Extrude some arcs near each tower to purge nozzle before print
gcode:
  {% set R     = (params.R    |default(115))  |float %}
  {% set FARC  = (params.FARC |default(2000)) |float %}
  {% set EARC  = (params.EARC |default(10))   |float %}
  {% set DARC  = (params.DARC |default(0.998))|float %}  # frac to move in for second sweep

  G90                         # absolute XYZ
  M83                         ; relative E
  HOME
  G0 X0 Y115 Z5 F8000
  G1 E3 F300                  ; initial purge
  G0 X5 Y118 F6000
  G0 Z.2 F2000 # wipe off blob
  G0 X-5
  G0 X5 Y117
  G0 X-5 Y116
  G0 Z0 F600
  G4 P200  # short dwell
  G0 Z.6 F3000

  #PURGE_ARC1 XA=-.342  YA=.9397  XB=.342   YB=.9397  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  #PURGE_ARC1 XA=-.985  YA=-.1736 XB=-.6428 YB=-.766  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  #PURGE_ARC1 XA=.9848  YA=-.1736 XB=.6428  YB=-.766  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=0      YA=1    R={R} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=-0.866 YA=-0.5 R={R} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=0.866  YA=-0.5 R={R} FARC={FARC} EARC={EARC} DARC={DARC}

  G0 X0 Y0 Z20 F8000
  G1 E3 F300

[gcode_macro BED_MESH_PROBE]
description: Perform the bed mesh probe, save it to a file named from SAVE=, and use it
gcode:
    {% set save = params.SAVE|default("default") %}
    BED_MESH_CALIBRATE PROFILE={save}
    SAVE_CONFIG
    BED_MESH_PROFILE LOAD={save}

[gcode_macro SET_EXTRUDER]
gcode:
    {% set T = params.T|default(0)|float %}
    #M104 S{T}  # non-blocking
    #M109 S{T} # blocking
    SET_HEATER_TEMPERATURE TARGET={T} HEATER=extruder

[gcode_macro SET_BED]
gcode:
    {% set T = params.T|default(0)|float %}
    M140 S{T}  # non-blocking
    #M190 S{T} # blocking
    #SET_HEATER_TEMPERATURE TARGET={T} HEATER=bed?
    
[gcode_macro PRINT_START]
description: Full start procedure
gcode:
    {% set      BED_TEMP = params.BED_TEMP     |default( 60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    #SET_BED T={BED_TEMP}  # start bed heating, no wait
    #SET_EXTRUDER T={EXTRUDER_TEMP}  # no wait
    CLEAR_NOZZLE T={EXTRUDER_TEMP}

    #M190 S{BED_TEMP}     # wait for bed to heat
    #M109 S{EXTRUDER_TEMP} # wait for extruder at requested temp
    #PURGE_NOZZLE EARC=12

[gcode_macro HEATERS_OFF]
gcode:
  M104 S0 ; extruder heater off, no-wait
  M140 S0

[gcode_macro PRINT_DONE]
gcode:
    G91 # switch to relative motion
    M83 # relative position extrusion mode
    G1 Z5 E-3 F8000
    G90 # back to absolute position
    HEATERS_OFF
    M107    # part cooling fan off
    HOMEPOS
    MOTORS_OFF

[gcode_macro FANSTATUS]
description: Show current fan speeds
gcode:
  {% if printer.fan is defined %}
    {% set p = printer.fan %}
    {action_respond_info("part_fan speed=" ~ p.speed|string)}
  {% endif %}
  {% if printer.heater_fan is defined and printer.heater_fan.extruder_fan is defined %}
    {% set h = printer.heater_fan.extruder_fan %}
    {action_respond_info("extruder_fan speed=" ~ h.speed|string)}
  {% endif %}
  {% set h1 = printer["heater_fan extruder_fan"].speed %}
  {action_respond_info("heater_fan extruder_fan speed=" ~ h1.speed|string)}
  INSPECT_OBJECT O=fan
  INSPECT_OBJECT O=extruder


[gcode_macro INSPECT_OBJECT]
description: Usage: INSPECT_OBJECT O=<name>
gcode:
  {% set obj_name = params.O|default("") %}
  {% if not obj_name %}
    {action_respond_info("Usage: INSPECT_OBJECT O=<name>")}
  {% else %}
    {% if obj_name in printer %}
      {% set status = printer[obj_name] %}
      {action_respond_info(obj_name ~ " => " ~ status|string)}
    {% else %}
      {action_respond_info("No such object: " ~ obj_name)}
    {% endif %}
  {% endif %}
